<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>家計簿</title>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
    <a href="/">戻る</a>
    <h1>家計簿</h1>
    <form th:action="@{/expense}" th:object="${expense}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>費用:</label>
            <input type="text" th:field="*{name}" required />
        </div>
        <div>
            <label>金額:</label>
            <input type="number" min="0" th:field="*{amount}" required /><small>円</small>
        </div>
        <div>
            <label>日付:</label>
            <input type="date" th:field="*{date}" required />
        </div>
        <div>
            <button type="submit">登録</button>
        </div>
    </form>

</body>
</html>
